<script setup lang="ts">
import * as yup from "yup"

interface User {
  email: string
  number: string
}

const users = shallowRef<
  User[]
>()

const abortController = shallowRef<
  AbortController | null
>()

const validationSchema = yup.object({
  email: yup
    .string()
    .required("Адрес эл. почты не может быть пустым."),
  number: yup
    .string()
    .optional()
})

const {
  errors,
  defineField,
  handleSubmit,
  isSubmitting
} = useForm<User>({
  validationSchema
})

const [email] = defineField("email")
const [number] = defineField("number")

defineExpose({
  number
})

const onSubmit = handleSubmit(async (values) => {
  if (abortController.value) {
    abortController.value.abort()
    abortController.value = null
    return
  }

  abortController.value = new AbortController

  try {
    users.value = await $fetch("/api/v1/users", {
      method: "POST",
      body: { ...values },
      signal: abortController.value.signal
    })
  } catch (error) {
    console.error(error)
  }

  abortController.value = null
})
</script>

<template>
  <form @submit="onSubmit">
    <div>
      <label>
        Адрес эл. почты:
      </label>
      <input v-model="email" :disabled="isSubmitting" />
      <br />
      <span class="error">{{ errors.email }}</span>
    </div>

    <div>
      <label>
        Номер телефона:
      </label>
      <input v-maska:number.unmasked data-maska="##-##-##" :disabled="isSubmitting" />
      <br />
      <span class="error">{{ errors.number }}</span>
    </div>

    <button>
      <template v-if="isSubmitting">
        Отменить поиск
      </template>
      <template v-else>
        Найти
      </template>
    </button>

    <br />
    <br />

    <template v-if="users">
      Результат поиска:
      <template v-if="users?.length">
        <ul>
          <template v-for="user in users">
            <li>
              {{ user.email }} |
              {{ user.number }}
            </li>
          </template>
        </ul>
      </template>
      <template v-else>
        Не найдено.
      </template>
    </template>
  </form>
</template>

<style>
.error {
  color: red;
}
</style>
